@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --vd-grayish-blue: hsl(217, 19%, 35%);
  --vd-blackish-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --family-font: "Barlow Semi Condensed", sans-serif;
  --weights-heavy: 600;
  --weights-light: 500;
  --size-font: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--size-font);
  font-family: var(--family-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  background-color: var(--light-grayish-blue);
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.grid {
  display: grid;
  height: 60vh;
  width: 85vw;
  gap: 30px;
  grid-template-columns: 18vw 18vw 18vw 18vw;
  grid-template-rows: 30vh 30vh;
}

#Daniel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--moderate-violet);
  color: white;
}
#Daniel .avatar_img {
  border: 3px solid rgba(255, 255, 255, 0.5);
}

/* .bigQuotes {
  width: 80px;
  heightL:
} */

#Jonathan {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--vd-grayish-blue);
  color: white;
}
#Jeanette {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--white);
  color: var(--vd-grayish-blue);
}
#Patrick {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--vd-blackish-blue);
  color: white;
}
#Patrick .avatar_img {
  border: 3px solid var(--moderate-violet);
}
#Kira {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: var(--white);
  color: var(--vd-grayish-blue);
}

#Jeanette > p,
#Kira > p {
  color: hsla(217, 19%, 35%, 0.7);
}

.avatar_details_blue {
  color: hsla(217, 19%, 35%, 0.5);
}

.testimonial {
  padding: 30px;
  border-radius: 7px;
  box-shadow: 5px 5px -5px 12px rgba(128, 128, 128, 0.158);
}
.avatar {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: yellow;
}
.avatar_details {
  width: 200px;
  background: Green;
}
.avatar_img {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 50%;
}

h2,
h3 {
  font-weight: var(--weights-light);
  font-size: var(--size-font);
  padding: 0;
  margin: 0;
}

h3 {
  color: rgba(255, 255, 255, 0.5);
}

h4 {
  font-size: 18px;
  font-weight: var(--weights-heavy);
}

p {
  color: rgba(255, 255, 255, 0.7);
}
