@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --vd-grayish-blue: hsl(217, 19%, 35%);
  --vd-blackish-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --family-font: "Barlow Semi Condensed", sans-serif;
  --weights-heavy: 600;
  --weights-light: 500;
  --size-font: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--size-font);
  font-family: var(--family-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-blue);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.grid {
  display: grid;
  height: 60vh;
  width: 90vw;
  max-width: 1130px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
}

#Daniel {
  background-color: var(--moderate-violet);
  color: white;
  position: relative;
  grid-column: span 2;
}
#Daniel .avatar_img {
  border: 2px solid hsl(263, 55%, 73%);
}

.bigQuotes {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 80px;
  top: 1px;
  z-index: 2;
}

#Jonathan {
  background-color: var(--vd-grayish-blue);
  color: white;
}
#Jeanette {
  background-color: var(--white);
  color: var(--vd-grayish-blue);
}
#Patrick {
  background-color: var(--vd-blackish-blue);
  color: white;
  grid-column: span 2;
}
#Patrick .avatar_img {
  border: 2px solid var(--moderate-violet);
}
#Kira {
  background-color: var(--white);
  color: var(--vd-grayish-blue);
  grid-row: span 2;
}

.testimonial_blue {
  color: hsla(217, 19%, 35%, 0.7);
}

.avatar_details_blue {
  color: hsla(217, 19%, 35%, 0.5);
}

.testimonial {
  padding: 30px;
  border-radius: 7px;
  box-shadow: 35px 35px 30px -25px rgba(128, 128, 128, 0.699);
}
.avatar {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar_details {
  width: 200px;
}
.avatar_img {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

h2,
h3 {
  font-weight: var(--weights-light);
  font-size: var(--size-font);
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 3;
}

h3 {
  color: rgba(255, 255, 255, 0.5);
}

h4 {
  font-size: 19px;
  font-weight: var(--weights-heavy);
  z-index: 3;
  padding: 0;
  margin: 15px 0;
  position: relative;
}

p {
  color: rgba(255, 255, 255, 0.7);
  font-size: var(--size-font);
}

@media only screen and (max-width: 700px) {
  #Daniel,
  #Patrick {
    grid-row: span 2;
    grid-column: span 1;
  }
  #Kira {
    order: 2;
  }
}

.attribution {
  margin: 50px 0;
}
