:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --vd-grayish-blue: hsl(217, 19%, 35%);
  --vd-blackish-blue: hsl(219, 29%, 14%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
  --family-font: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed);
  --weights-heavy: 600;
  --weights-light: 500;
  --size-font: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--size-font);
  font-family: var(--family-font);
}

.content {
  display: flex;
  background-color: var(--light-grayish-blue);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "Daniel Daniel Jonathan Kira"
    "Jeanette Patrick Patrick Kira";
}

#Daniel {
  grid-area: Daniel;
}
#Jonathan {
  grid-area: Jonathan;
}
#Jeanette {
  grid-area: Jeanette;
}
#Patrick {
  grid-area: Patrick;
}
#Kira {
  grid-area: Kira;
}

.testimonial {
  grid-row-start: 1;
  grid-row-end: 3;
}
